<!DOCTYPE.html>
<html>

<title> Wonderful Weather App </title>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/forecast.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya:900|Arvo:700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">

</head>

<body>
        <nav>
        <div class="logo-container">
             <a href="/"><img class="logo" src="https://i.ibb.co/ZhjBXz9/Sky-Sight.jpg"> </a>
        </div>

        <ul>
            <li> <a href="/location"> My Weather</a> </li>
            <li> <a href="/current"> Current </a> </li>
            <li> <a href="/forecast"> Forecast</a> </li>
            <li><a target="_blank" href="https://openweathermap.org/"> OpenWeatherMap </a></li>
        </ul>
    </nav>

    <div class="today">
        <h2>GET A 5 DAY FORECAST </h2>
    </div>



    <div class="weather-container">

        <div id="dynamic-bg" class="bg-img">
            <img class="bg-img-content">
        </div>

        <div class="search-text">
            <h3 class="h3-text"> Enter a city name</h3>
        </div>
        <!--got the below code by following this tutorial https://www.youtube.com/watch?v=38rJPEqapoA -->

        <div class="searchbar">
            <form id="form" autocomplete="off">
                <!--acton="where are you sending info from this form.com" method="post"-->

                <input type="text" class="search-bar" id="input" placeholder="City Name" value="mumbai" maxlength="25" autocomplete="off" onMouseDown="" onBlur="" /><input class="search-btn" id="searchBtn" value="Search" onClick="getWeather()" type="button" />
                <!--onClick added in by gaurav-->
                <!--type="submit" was removed from input because it was reloading the page replaced with type='button'-->


            </form>
        </div>
        <div class="res-f-container">
           <div id="responseField" class="response-field">
        </div>  
            
        </div>
       
    </div>
    
    <div class="copyright">
        <p>Copyright &copy; SKY SIGHT </p>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js "></script>
    <script src="forecast.js">
    </script>
</body>

</html>