* {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    background: black;
    
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: .8rem 1rem;
    display: block;
    line-height: 1;
    color: #949bf4;
}

nav ul li {
    border-bottom: 1px dotted white;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    font-weight: 800;
/*    font-family: 'Alegreya', serif;*/
}

h1 {
    line-height: 0;
    padding: .8rem 0rem;
    text-align: center;
    z-index: 0;
}

nav div:first-child h1,
nav ul {
    margin: 0;
}

nav
{
   position: fixed;
   top: 0px;
    width: 100%;
    background: #000000;
    z-index: 10;
}

.logo{
    height: auto; 
    width: 280px;
}


nav ul li a:hover {
    background: rgba(230, 98, 0, 0.72);
    border-radius: 30px;
}

nav
{
   position: fixed;
   top: 0px;
    width: 100%;
}


/* media queries for diff screen sizes*/

@media only screen and (min-width: 30em) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
    }

    nav ul {
        display: flex;
        align-items: center;
        background: none;
        flex-wrap: wrap;
        margin-right: 40px;
    }

    nav div:first-child h1 {
        padding: 0;
        margin: 0 1rem;
    }

    nav div:first-child img {
        height: 90px;
    }

    nav ul li {
        border-bottom: none;
        flex: 1 0 auto;
    }

    nav ul li a {
        padding: 1.2rem 1rem;
    }


}

.today {
    margin-top: 90px;
    padding: 30px;
    color: white;
    background-color: rgba(0, 17, 57, 0.8);
    text-align: center;
    font-family: "Verdana", serif;
}

@media only screen and (max-width: 900px) {
    
    .today {
        padding-top: 55px;
    }
    
}


@media only screen and (max-width: 660px) {
    
    .today {
        padding-top: 115px;
    }
    
}

@media only screen and (max-width: 480px) {
    
    .today {
        padding-top: 220px;
    }
    
    .blocked-cont {
    background-color: rgba(242, 242, 170, 0.49);
    border-radius: 30px;
    margin: 10 auto;
    width: 60%;
    
}
    
    
    
}




.text-box {
    padding: 30px;
    color: blue;
    text-align: center;
    font-family: "Verdana", serif;
    z-index: 0;
}

.h3-text, .responseHeader { 
  color: black;
  -webkit-text-fill-color: blue; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

.blocked-cont {
    background-color: rgba(242, 242, 170, 0.49);
    border-radius: 30px;
    margin: 10 auto;
    width: 35%;
    
    -webkit-animation-duration: 20s;animation-duration: 20s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
}
.blocked {
    color: rgb(150, 4, 4);
}


@-webkit-keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }

@keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }

.fadeout {
    -webkit-animation-name: fadeout;
    animation-name: fadeout;
 }



.response-field {
    background-color: rgba(255, 255, 255, 0.45);
    max-width: 600px;
    max-height: 1000px;
    min-width: 191px;
    min-height: 120px;
    border: solid 2px rgb(51,73,95);
    margin: auto;
    margin-top: 25px;
    font-family: "Verdana", serif;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: black;
    overflow-wrap: break-word;
    height: 50%;
    overflow: hidden;
    border-radius: 20px;

}

.responseHeader {
    color: blue;
    text-align: center;
    padding-top: 2%;
}

.response {
    display: inline;
    padding-left: 2%;

}


.copyright {
    padding: 15px;
    background-color: black;
    text-align: center;
    font-family: "Verdana", serif;
    font-weight: bold;
    display: block;
    color: #949bf4;
    left: 0;
    bottom: 0;
    overflow: hidden;
}



/*                                                FOR DYNAMIC BG SWITCHING*/
#dynamic-bg {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

/*
.bg-img-content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
*/

.test {
background-image: url("https://stmed.net/sites/default/files/aubrey-plaza-wallpapers-26444-9326444.jpg");
    background-color: white;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;   
}



.thunder {
background-image: url("https://i.ibb.co/0sNhmW0/Thunder.jpg");
    background-color: white;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;   
}

.drizzle {
background-image: url("https://i.ibb.co/hszbzfs/Drizzle.jpg");
    background-color: white;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;   
}

.rain {
background-image: url("https://i.ibb.co/8dkx00c/Rain.jpg");
    background-color: white;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;   
}

.snow {
background-image: url("https://i.ibb.co/MBVQQnC/Snow.jpg");
    background-color: white;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;   
}

.smoke {
background-image: url("https://i.ibb.co/LzvDS19/Smoke.jpg");
    background-color: white;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;   
}

.clear {
background-image: url("https://i.ibb.co/fSWnGtc/Clear.jpg");
    background-color: white;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;   
}

.clouds {
background-image: url("https://i.ibb.co/NxH0df4/Clouds.jpg");
    background-color: white;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;   
}


.weather-container {
    position: relative;
    background: rgba(0, 0, 0, 0); 
    height: 100%;
/*    ^instead of using opacity in .bg-video*/
}

